@{
    ViewData["Title"] = "Игры взвешенного голосования";
}

<section>
    <h1 class="display-6 mb-4">Игры взвешенного голосования</h1>
    <div>
        <div>
            <p class="text-sm-start fs-3">Данные о игре</p>
            <div class="input-group d-flex justify-content-between">
                <div class="col-2">
                    <label for="quota">Квота</label>
                    <input id="quota" type="number" class="form-control">
                </div>
                <div class="col-2">
                    <label for="quotaType">Тип квоты</label>
                    <select id="quotaType" class="form-select">
                        <option selected value="0">Достижение</option>
                        <option value="1">Превышение</option>
                    </select>
                </div>
                <div class="col-2">
                    <label id="count" for="playerCount">Количество игроков</label>
                    <input type="number" id="playerCount" class="form-control">
                </div>
                <div class="col-2">
                    <label for="methodType">Метод вычисления</label>
                    <select id="methodType" class="form-select">
                        <option selected value="0">Прямое перечисление</option>
                        <option value="1">Производящие функции</option>
                    </select>
                </div>
                <div class="col-2">
                    <label for="calculationType">Индексы влияния</label>
                    <select id="calculationType" class="form-select">
                        <option selected value="0">Шепли-Шубик</option>
                        <option value="1">Банцаф</option>
                        <option value="2">Джонсон</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="mt-2">
            <div class="d-none player-infos-container">
                <p class="text-sm-start fs-3">Информация о игроках</p>
                <div class="mt-2 mb-2 col-6">
                    <div class="mb-2 d-flex justify-content-between border-bottom">
                        <div class="col-5 mb-2 d-flex justify-content-center">
                            <span><b>Наименование игрока</b></span>
                        </div>
                        <div class="col-5 mb-2 d-flex justify-content-center">
                            <span><b>Вес игрока</b></span>
                        </div>
                    </div>
                    <div class="players-table"></div>
                    <button class="btn btn-primary mb-2 mt-1 calc-pi">Рассчитать</button>
                </div>
            </div>
            <div class="w-100 d-none result-container">
                <table class="table table-hover text-center">
                    <thead class="pi-info-head">
                        <tr>
                            <th>Игрок</th>
                            <th>Вес</th>
                            <th>Индекс влияния</th>
                        </tr>
                    </thead>
                    <tbody class="pi-info-body"> </tbody>
                </table>
            </div>
        </div>
    </div>
    <script type="module" src="~/js/endpoints.js"></script>
    <script type="module" src="~/js/power_indeces.js"></script>
</section>